/*style général*/
body {
    margin: 0;
    overflow-x: hidden;
}




/*barre de navigation*/
#menu {
    position: fixed;
    margin: 6vh 6vh 6vh 6vh;
    width: calc(100vw - 6vh - 6vh);
    height: 8vh;
    border-radius: 4vh;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    background-color: rgba(0, 123, 255, 0.25);
    transition: 0.5s ease-in-out;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#menu div {
    display: flex;
    gap: 5vh;
    margin-right: 5vh;
}
#menu div a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 1em;
    color: white;
}
#menu div a p {
    background-color: rgba(255, 255, 255, 0);
    opacity: 0.5;
    transition: 0.5s;
}
#menu div img {
    display: flex;
    height: 5vh;
    opacity: .8;
    transition: 0.5s;
}
#menu:hover {
    background-color: rgba(0, 123, 255, 1);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}
#menu p:hover {
    opacity: 1;
}
#menu div img:hover {
    height: 6vh;
    opacity: 1;
}
#menu object {
    height: 15vh;
}




/*section accueil*/
#accueil_1 {
    width: 100vw;
    height: max-content;
}
#accueil_1 img {
    width: 100%;
}




/*section navigation*/
#navigation {
    padding: 5vw;
    width: calc(100vw - 10vw);
    height: max-content;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20vw, 1fr));
    gap: 2vw;
}
[id^="select_"] {
    position: relative;
    display: inline-block;
    cursor: pointer;
    aspect-ratio: 1 / 1;
}
#navigation div img {
    display: block;
    width: 100%;
    height: auto;
    overflow-x: hidden;
    filter: saturate(100%);
    transition: 0.5s;
}
#navigation h4, p {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(0, 123, 255, .25);
    margin: 0;
}
#navigation h4 {
    padding: 1vw 2vw;
    font-size: 1em;
    transition: 0.5s;
}
#navigation p {
    padding: 0vw 0 0 3vw;
    line-height: 1.8;
    height: 100%;
    opacity: 0;
    font-size: 0;
    transition: 0.5s;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: white;
}
#navigation div:hover img {
    filter: saturate(10%);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}
#navigation div:hover h4 {
    font-size: 1.25em;
    background-color: rgba(0, 123, 255, .75);
}
#navigation div:hover p {
    font-size: 1.1em;
    opacity: 1;
    background-color: rgba(0, 123, 255, .75);
}




/*section footer*/
#footer {
    width: 100vw;
    height: 200px;
    background-color: rgba(0, 123, 255, 1);
}